
 .logo {
  z-index: 100;
  width: 120px;
  height: 31px;
  /*background: rgba(255, 255, 255, 0.2);*/
  background: url("http://gray.oss-cn-beijing.aliyuncs.com/2020-03-29%2Fprogramchat-white.png") no-repeat;
  background-size: contain;
  margin: 16px 28px 16px 0;
  float: left;
  cursor: pointer;
}
 .logo:hover{
  background: url("http://gray.oss-cn-beijing.aliyuncs.com/2020-03-29%2Fprogramchat-green.png") no-repeat;
  background-size: contain;
}
.site-layout-background {
  background: #fff;
}
.header{
  width: 100%;
  position: fixed;
  z-index: 10000;
}
 /*.ant-menu .active{*/
 /*  background-color: #1DA57A;*/
 /*  color: #fff;*/
 /*  border-right: 0;*/
 /*}*/
.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
